// 样式变量初始
$h1Color = #444
$h2Color = #666
$textColor = #888
$ac1Color = #3399e5
$ac2Color = #00c1de
$h1Size = 34px
$h2Size = 24px
$h3Size = 18px
$h4Size = 16px
$textSize = 14px
$miniSize = 12px
$opacity = .2
$footerBgColor = #262735
$contentWidth = 1200px